<p id="notice"><%= notice %></p>
<div style="float:right">
  <% if user_signed_in?  && current_user.try(:id) == @album.user.id %>
   <%= link_to 'Upload a Pic', new_album_pic_path(@album),class: "btn btn-danger"  %> 
  <% end %>
</div>
<%= link_to 'Back', albums_path %>
<h1 style="text-align: center"><%= @album.name %></h1><br>
<% @pics.each do |p| %>
	<div class="container" style="width:100%;">
  		<div class="row">
    		<div class="col-md-4" style="text-align: center;border: 1px solid #ccc">
        	<div style = "padding:5px;">
  				  <%= image_tag p.avatar.url(:thumb)%>
  				  <div style="margin-top: 5px">
              <%= p.title%><br>
              <b>uploded  <%= time_ago_in_words(p.created_at)%> ago &nbspby&nbsp <strong style ="color:lightblue"><%= link_to p.user.email,uploder_path(p.user) %></strong></b>
            </div> 
          </div><br>
 			  </div>		
       <% end %>
  		</div>
	</div>		

    
  
 

